.vscode
*.log
*.out
*.error
data/arxiv
.DS_Store
__pycache__/
htcondor/docker_stderror
data/news
data/*.json
data/*.txt
*.zip
*.pkl
test.tsv
data/500arxiv
data/results
htcondor/
src/selective_context.egg-info/
dist/